export(bfmSpatial)
export(getSceneinfo)
export(hdf2ndvi)
export(mc.calc)
export(processLandsat)
export(processLandsatBatch)
export(timeStack)
import(bfast)
import(gdalUtils)
import(parallel)
import(raster)
import(rgdal)
import(stringr)
